<h1> <%= link_to("Wikinimous", articles_path) %> </h1>

<div class="container">

  <h1><%= @article.title %> <%= link_to("ðŸ–Šï¸", edit_article_path(@article.id)) %> <%= link_to("ðŸ—‘ï¸Ž", article_path(@article.id), method: :delete, data: {confirm: "Are you sure you want to delete that?"} ) %> </h1>
  <p><%= @article.content %></p>


</div>
